<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rocks.chendidi.ssm.mapper.ReplyMapper" >
  <cache  type="rocks.chendidi.ssm.util.MybatisRedisCache" />
  <resultMap id="BaseResultMap" type="rocks.chendidi.ssm.pojo.Reply" >
    <id column="replyid" property="replyid" jdbcType="VARCHAR" />
    <result column="reply" property="reply" jdbcType="VARCHAR" />
    <result column="articleid" property="articleid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="deletedate" property="deletedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    replyid, reply, articleid, userid, username, createdate, deletedate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="rocks.chendidi.ssm.pojo.ReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from reply
    where replyid = #{replyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from reply
    where replyid = #{replyid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="rocks.chendidi.ssm.pojo.ReplyExample" >
    delete from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="rocks.chendidi.ssm.pojo.Reply" >
    <selectKey keyProperty="replyid" resultType="String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into reply (replyid, reply, articleid, 
      userid, username, createdate, 
      deletedate)
    values (#{replyid,jdbcType=VARCHAR}, #{reply,jdbcType=VARCHAR}, #{articleid,jdbcType=VARCHAR},
      #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{deletedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="rocks.chendidi.ssm.pojo.Reply" >
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        replyid,
      </if>
      <if test="reply != null" >
        reply,
      </if>
      <if test="articleid != null" >
        articleid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="deletedate != null" >
        deletedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        #{replyid,jdbcType=VARCHAR},
      </if>
      <if test="reply != null" >
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="articleid != null" >
        #{articleid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedate != null" >
        #{deletedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="rocks.chendidi.ssm.pojo.ReplyExample" resultType="java.lang.Integer" >
    select count(*) from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reply
    <set >
      <if test="record.replyid != null" >
        replyid = #{record.replyid,jdbcType=VARCHAR},
      </if>
      <if test="record.reply != null" >
        reply = #{record.reply,jdbcType=VARCHAR},
      </if>
      <if test="record.articleid != null" >
        articleid = #{record.articleid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletedate != null" >
        deletedate = #{record.deletedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reply
    set replyid = #{record.replyid,jdbcType=VARCHAR},
      reply = #{record.reply,jdbcType=VARCHAR},
      articleid = #{record.articleid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      deletedate = #{record.deletedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="rocks.chendidi.ssm.pojo.Reply" >
    update reply
    <set >
      <if test="reply != null" >
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="articleid != null" >
        articleid = #{articleid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedate != null" >
        deletedate = #{deletedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where replyid = #{replyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="rocks.chendidi.ssm.pojo.Reply" >
    update reply
    set reply = #{reply,jdbcType=VARCHAR},
      articleid = #{articleid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      deletedate = #{deletedate,jdbcType=TIMESTAMP}
    where replyid = #{replyid,jdbcType=VARCHAR}
  </update>

  <select id="selectByPage"  resultType="rocks.chendidi.ssm.pojo.Reply" >

    select
    <include refid="Base_Column_List" />
    from reply where articleid = #{2} ORDER BY createdate desc limit #{0},#{1}

  </select>
</mapper>